<%- include("navbar.ejs")%>

    
<form action="/admin/update_why_choose_us_points" method="post" enctype="multipart/form-data">
    <div class="container p-3 bg-white">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-4">
                <h3>Edit Why Choose Us Point</h3>
            </div>
            <div class="col-md-6 mb-3">
                <!-- Use wcup._id directly instead of wcup[0].wcup_id -->
                <input type="hidden" name="wcup_id" value="<%= wcup._id %>">
                Name:
                <!-- Use wcup.heading directly -->
                <input type="text" name="wcup_name" value="<%= wcup.heading %>" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                Image:
                <input type="file" name="wcup_image" class="form-control">
            </div>
            <div class="col-md-12 mb-3">
                Details:
                <textarea name="wcup_details" class="form-control" rows="2"><%= wcup.description %></textarea>
            </div>
            <div class="col-md-12 mb-3 text-center">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
    <br><br>


    <%- include("footer.ejs")%>