<%- include("navbar.ejs") %>

<form action="/admin/update_testimonial" method="post" enctype="multipart/form-data">
    <input type="hidden" name="c_id" value="<%= testimonial._id %>">
    <div class="container-fluid p-4 bg-white">
        <div class="row">
            <div class="mb-3 col-md-12">
                <h3>Edit Testimonial</h3>
            </div>
            <div class="mb-3 col-md-6">
                Customer Name &#9824
                <input type="text" name="c_name" class="form-control" value="<%= testimonial.c_name %>">
            </div>
            <div class="mb-3 col-md-6">
                Customer Position :
                <input type="text" name="c_position" class="form-control" value="<%= testimonial.c_position %>">
            </div>
            <div class="mb-3 col-md-6">
                Customer Image :
                <input type="file" name="c_image" class="form-control">
                <% if (testimonial.c_image) { %>
                    <img src="/uploads/<%= testimonial.c_image %>" width="100px" height="100px" alt="">
                <% } %>
                <input type="hidden" name="old_image" value="<%= testimonial.c_image %>">
            </div>
            <div class="mb-3 col-md-6">
                Customer Message &#9824
                <textarea name="c_message" class="form-control"><%= testimonial.c_message %></textarea>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary">Update Testimonial</button>
            </div>
        </div>
    </div>
</form>

<%- include("footer.ejs") %>
