<%- include("navbar.ejs") %>

<% if (product) { 
    const imgs = Array.isArray(product.product_image) ? product.product_image : [];
    let img = imgs.length > 0 ? imgs[0] : ''; 
%>

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
                        href="/uploads/<%= img %>">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                            src="/uploads/<%= img %>" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <% imgs.forEach(img => { if(img !== '') { %>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image"
                        href="/uploads/<%= img %>" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="/uploads/<%= img %>" />
                    </a>
                    <% }}); %>
                </div>
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        <%= product.product_name %>
                    </h4>
                    <div class="mb-3">
                        <small><del>&#8377; <%= product.duplicate_price %></del></small>
                        <span class="h5">&#8377; <%= product.product_price %></span>
                        <span class="text-muted">/-</span>
                    </div>

                    <p><%= product.product_details %></p>

                    <div class="row">
                        <dt class="col-3">Type: </dt>
                        <dd class="col-9">
                            <%= product.product_type_id && product.product_type_id.product_type_name 
                                ? product.product_type_id.product_type_name 
                                : "" %>
                        </dd>

                        <dt class="col-3">Color: </dt>
                        <dd class="col-9">
                            <div class="d-inline-block p-3" style="background-color:<%= product.product_color %>"></div>
                        </dd>

                        <dt class="col-3">Size: </dt>
                        <dd class="col-9"><%= product.product_size %></dd>
                    </div>

                    <% if (!in_cart) { %>
                    <a href="/add_to_cart/<%= product._id %>" class="btn btn-primary">
                        Add to Cart
                    </a>
                    <% } else { %>
                    <a href="/cart" class="btn btn-primary">
                        Go to Cart
                    </a>
                    <% } %>
                </div>
            </main>
        </div>
    </div>
</section>

<% } %>

<%- include("footer.ejs") %>
